* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    font: 16px/23px 'Be Vietnam', sans-serif;
    color: hsl(228, 39%, 23%);
    background: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position-y: -1%;
    background-position-x: -146%;
    background-size: 110%;
}  
header {
    padding: 15px 15px 0 15px;
}
#header-img {
    padding: 20px 0 0 5px;
}

#navbar {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    display: none;
}
#navbar ul {
    float: right;
}
#navbar ul li {
    list-style-type: none;
    font-size: 11px;
    font-weight: 600;
}
#navbar li a {
    text-decoration: none;
    color: hsl(228, 39%, 23%);
}
#navbar li a:hover {
    border-bottom: 1px solid hsl(12, 88%, 59%);
    box-shadow: 0 8px 6px -6px hsl(12, 88%, 59%);
    color: hsl(227, 12%, 61%);
    padding-bottom: 5px;
}
#button {
    display: none;
}
main {
    padding: 15px 15px 0 15px;
}

.desktop {
    display: none;
}
.main-img {
    border: 6px solid #faf9f9;
    width: 110%;
}
#img {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
    width: 100%;
}
.lower-img {
    margin-left: 70px;
    margin-top: -12px;
}

#pricing {
    background: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 296%;
    background-size: 78%;
}
#pricing h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
p {
    color: hsl(227, 12%, 61%);
    text-align: center;
}
#button-two {
    border-radius: 25px;
    background-color: hsl(12, 88%, 59%);
    padding: 10px 35px;
    font-size: 11px;
    margin: 30px auto;
    width: fit-content;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
#button:hover, #button-two:hover {
    box-shadow: 0 8px 6px -6px hsl(12, 88%, 59%);
    background-color: hsl(13, 64%, 75%);
    text-decoration: none;
}
#product {
    margin-top: 40px;
    padding: 1.5rem;
}
#left-div h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
#right-div {
    margin-top: 60px;
}
.inner-div {
    display: flex;
    margin: 35px 0 20px 0;
}
.inner-div h4{
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}
#right-div p {
    text-align: left;
}
.inner-div span {
    background-color: hsl(13, 100%, 96%);
    padding: 10px 0 10px 30px;
    margin-left: 10px;
    z-index: 1;
    position: relative;
    left: 30px;
    width: 90%;
}
.inner-div h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 18px;
    position: absolute;
    z-index: 2;
    background-color: hsl(12, 88%, 59%);
    border-radius: 25px;
    color: #fff;
}
.simplify {
    background: url('images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
}
.testimonial h2{
    text-align: center;
    color: hsl(228, 39%, 23%);
    padding-bottom: 50px;
    margin-top: 70px;
}
.tesbar{
    background-color:hsl(0, 0%, 98%) ;
    padding: 15px 0px 35px 0px;
    text-align: center;
    color: hsl(227, 12%, 61%);
    position: relative;
    padding: 1rem;
}
.tesbar img {
    position: absolute;
    top: -20%;
    left: 36%;
    height: 40%;
}
.button{
    text-align: center;
    margin-top: 50px;
}
.get{
    background-color:hsl(12, 88%, 59%) ;
    color: white;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    border: none;
}
h4{
    color:hsl(228, 39%, 23%) ;
}
.tesbar h4 {
        padding: 55px 0 20px 0;
}
.simplify{
    margin-top: 150px;
    background-color: hsl(12, 88%, 59%);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    justify-content: space-around;
}
.simplify h3 {
    margin-top: 0;
}
h3 {
    color: white;
    font-weight: 800;
    font-size: 40px;
}
.btnsimplify{
    background-color: white;
    color: hsl(12, 88%, 59%);
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 150px; 
    box-shadow: 0 8px 6px -6px hsl(12, 88%, 59%);
    border: none;
}
.btnsimplify:hover {
    color: hsl(13, 60%, 72%);
    cursor: pointer;
}
#footer{
    background-color:hsl(233, 12%, 13%);
    padding: 50px 20px 75px;
}
.section1 .img{
    padding-top: 100px; 
}
.section1 .img-icon {
    margin: auto;
    display: block;
}
#manage {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.section1{
    color: white;
    font-size: 16px;
    padding-left: 1.5rem;
}
.section1 li{
    margin-bottom: 20px;
    list-style: none;
    cursor: pointer;
}
.section1 li:hover, .icon:hover {
    color: hsl(12, 88%, 59%);
    cursor: pointer;
}
input{
    border-radius: 30px;
    padding: 20px 0px 20px 25px;
    width: 200px;
    border: none;
    outline: none;
}

#input .section1 {
    padding-left: .5rem;
}
#list {
    display: flex;
    justify-content: space-between;
}
section p a {
    /* padding: 0 10px; */
}
.btnfooter{
    padding: 20px;
    border-radius: 30px;
    background-color:hsl(12, 88%, 59%);
    color: white;
    width: 80px;
    border: none;
    margin: 1rem 0;
}
.btnfooter:hover, .get:hover {
    background-color: hsl(13, 64%, 75%);
    box-shadow: 0 8px 6px -6px hsl(12, 88%, 59%);
}
.copyfooter{
    color:hsl(227, 12%, 61%) ;
    padding-top: 80px; 
}
@media only screen and (max-device-width: 559px) {
    .generaltesbar {
        margin: 70px 0 0 0;
        display: block;
    }
    .tesbar {
        margin: 0 35px 65px;
    }
    .tesbar img {
        left: 39%;
    }
    #side-div {
        padding: 1rem;
    }
    .simplify {
        display: block;
        margin-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .btnsimplify {
        margin-top: 40px;
    }
    .btn {
        margin-top: 30px;
    }
    #list {
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
    }
    #footer {
        padding: 50px 25px;
    }
    #manage {
        display: block;
    }
    #manage ul {
        padding-left: 0;
    }
    input {
        width: 62%;
        padding: 15px 0 15px 25px;
    }
    .section1 .img {
        padding-top: 40px;
        padding-bottom: 40px;    
        text-align: center;
    }
    .section1 p a {
        padding: 0 30px 0 0px;
    }
    .btnfooter {
        padding: 15px;
        width: 29%;
    }
    .copyfooter {
        text-align: center;
    }
}
