*{
    margin: 0;
}
.testimonial h2{
    text-align: center;
    color: hsl(228, 39%, 23%);
    padding-bottom: 50px;
    margin-top: 70px;
}
.generaltesbar{
    margin: 50px 30px 0 30px;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.tesbar{
    background-color:hsl(0, 0%, 98%) ;
    padding: 15px 0px 35px 0px;
    text-align: center;
    color: hsl(227, 12%, 61%);
    position: relative;
}
.tesbar img {
    position: absolute;
    top: -20%;
    left: 36%;
    height: 40%;
}
.button{
    text-align: center;
    margin-top: 50px;
}
.get{
    background-color:hsl(12, 88%, 59%) ;
    color: white;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    border: none;
}
h4{
    color:hsl(228, 39%, 23%) ;
}
.tesbar h4 {
        padding: 55px 0 20px 0;
}
.simplify{
    margin-top: 150px;
    background-color: hsl(12, 88%, 59%);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    justify-content: space-around;
}
.simplify h3 {
    margin-top: 0;
}
h3 {
    color: white;
    font-weight: 800;
    font-size: 40px;
}
.btnsimplify{
    background-color: white;
    color: hsl(12, 88%, 59%);
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 150px; 
    box-shadow: 0 8px 6px -6px hsl(12, 88%, 59%);
    border: none;
}
.btnsimplify:hover {
    color: hsl(13, 60%, 72%);
    cursor: pointer;
}
#footer{
    background-color:hsl(233, 12%, 13%);
    padding: 50px 80px 75px;
}
.section1 .img{
    padding-top: 100px; 
}
#manage {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.section1{
    color: white;
    font-size: 16px;
}
.section1 li{
    margin: 20px 0px;
    list-style: none;
    cursor: pointer;
}
.section1 li:hover, .icon:hover {
    color: hsl(12, 88%, 59%);
    cursor: pointer;
}
input{
    border-radius: 30px;
    padding: 20px 0px 20px 25px;
    width: 200px;
    border: none;
    outline: none;
}
#list {
    display: flex;
    justify-content: space-between;
}
section p a {
    padding: 0 10px;
}
.btnfooter{
    padding: 20px;
    border-radius: 30px;
    background-color:hsl(12, 88%, 59%);
    color: white;
    width: 80px;
    border: none;
    margin-left: 10px;
}
.btnfooter:hover, .get:hover {
    background-color: hsl(13, 64%, 75%);
    box-shadow: 0 8px 6px -6px hsl(12, 88%, 59%);
}
.copyfooter{
    text-align: right;
    color:hsl(227, 12%, 61%) ;
    padding-top: 80px; 
}
@media only screen and (max-device-width: 1024px) {
    .section1 {
        font-size: 13px;
    }
    .section1 li {
        margin: 12px 0px;
    }
    input {
        border-radius: 30px;
        padding: 11px 0px 11px 20px;
    }
    .btnfooter {
        padding: 11px;
        MARGIN-TOP: 30PX;
        MARGIN-LEFT: 0;
    }
    .tesbar img {
        left: 26%;
    }
    section p a {
        padding: 0px 2px;
    }
}
@media only screen and (max-device-width: 425px) {
    .generaltesbar {
        margin: 70px 0 0 0;
        display: block;
    }
    .tesbar {
        margin: 0 35px 65px;
    }
    .tesbar img {
        left: 31%;
    }
    .simplify {
        display: block;
        margin-top: 90px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .btnsimplify {
        margin-top: 40px;
    }
    .btn {
        margin-top: 30px;
    }
    #list {
        display: flex;
        justify-content: space-between;
        margin: 0 25px;
    }
    #footer {
        padding: 50px 25px;
    }
    #manage {
        display: block;
    }
    #manage ul {
        padding-left: 0;
    }
    input {
        width: 69%;
        padding: 15px 0 15px 25px;
    }
    .section1 .img {
        padding-top: 40px;
        padding-bottom: 40px;    
        text-align: center;
    }
    .section1 p a {
        padding: 0 30px 0 0px;
    }
    .btnfooter {
        padding: 15px;
        width: 29%;
    }
    .copyfooter {
        text-align: center;
    }
}